body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(120deg,#0f0c29,#302b63,#24243e);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  padding: 100px;
}

.hero span {
  color: #a855f7;
}

.btn {
  background: #a855f7;
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.card {
  margin: 40px;
  padding: 30px;
  background: rgba(0,0,0,0.4);
  border-radius: 15px;
}

.grid {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.box, .project {
  width: 200px;
  height: 150px;
  background: black;
  border-radius: 15px;
  transition: 0.4s;
}

.box:hover, .project:hover {
  box-shadow: 0 0 20px #a855f7;
  transform: scale(1.05);
}

form input, form textarea {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 30px;
  background: #3b82f6;
  border: none;
  color: white;
}

.social i {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

.social i:hover {
  color: #a855f7;
}